*{
    box-sizing:border-box;
    margin: 0%;
    padding: 0%;
}

body{
    height: 100vh;/**le body occupe la hauteur totale de l'écran**/
}

section{
    display: flex;
    flex-direction:row;
    height: 100%;
}

.container-A{
   display: flex;
   flex-direction: column;
   width: 50%;
}

.blocA1-class{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
}

.sous-bloc1-A1{
    background-color: rgb(213, 70, 99);
    width: 25%;
}

.sous-bloc2-A1{
    background-color: rgb(70, 213, 106);
    width: 25%;
}

.sous-bloc3-A1{
    background-color: rgb(70, 213, 206);
    width: 50%;
}

/**Passage au second blocs**/

.blocA2-class{
    display: flex;
    flex-direction: row;
    height: 25%;
}
.sous-bloc1-A2{
   width: 75%;
   background-color: cadetblue; 
}
.sous-bloc2-A2{
    width: 25%;
    background-color: rgb(220, 220, 74); 
}


/**Passage au troisième bloc**/
.blocA3-class{
    display: flex;
    flex-direction: row; 
    height: 25%;
}
.sous-bloc1-A3{
    width: 50%;
    background-color: rgb(58, 89, 90); 
 }
 .sous-bloc2-A3{
     width: 50%;
     background-color: rgb(74, 162, 220); 
 }


/*Passage au Quatrieme bloc*/
.blocA4-class{
    display: flex;
    flex-direction: row;
    height: 25%;
}
.sous-bloc1-A4{
    background-color: rgb(230, 121, 12); 
    text-align: center;
    width: 100%;
}

/**passage au container B**/

.container-B{
    display: flex;
    flex-direction: row;
    width: 50%; 
}

.blocB1-class{
    background-color: rgb(165, 95, 203);
    width: 30%;
}

/**passage au sous bloc du bloc B2 **/

.blocB2-class{
    width: 70%;
}

.sous-bloc1-B1{
    background-color: rgb(108, 241, 194); 
    width: 100%;
    height: 50%;
}

/**passage au sous bloc du bloc B2**/
.sous-bloc1-B2{
    display: flex;
    flex-direction: row;
    height: 50%;
}
.sous-sous-bloc1-B2-1{
    background-color: rgb(241, 108, 206);
    width: 50%;
}
.sous-sous-bloc1-B2-2{
    background-color: rgb(241, 108, 157);
    width: 50%;
}