*{
    box-sizing:border-box;
    margin: 0%;
    padding: 0%;
}
section{
    display: flex;
    flex-direction:row;
}
.container-A{
    display: flex;
   flex-direction: column;
   width: 50%;
}

.blocA1-class{
    
    display: flex;
    flex-direction: row;
    width: 100%;
   
}

.sous-bloc1-A1{
    background-color: rgb(213, 70, 99);
    width: 34%;
    text-align: center;
    padding: 80px;
}

.sous-bloc2-A1{
    background-color: rgb(70, 213, 106);
    width: 34%;
    text-align: center;
    padding: 80px;
}

.sous-bloc3-A1{
    background-color: rgb(70, 213, 206);
    width: 34%;
    text-align: center;
    padding: 80px;
}
/**Passage au second blocs**/


.blocA2-class{
    display: flex;
    flex-direction: row;
}
.sous-bloc1-A2{
   width: 83%;
   background-color: cadetblue; 
   padding: 60px;
   text-align: center;
}
.sous-bloc2-A2{
    width: 17%;
    background-color: rgb(220, 220, 74); 
    padding: 60px;
    text-align: center;
}


/**Passage au troisième bloc**/
.blocA3-class{
    display: flex;
    flex-direction: row; 
}
.sous-bloc1-A3{
    width: 50%;
    background-color: rgb(58, 89, 90); 
    padding: 60px;
    text-align: center;
 }
 .sous-bloc2-A3{
     width: 50%;
     background-color: rgb(74, 162, 220); 
     padding: 60px;
     text-align: center;
 }


/*Passage au Quatrieme bloc*/
.blocA4-class{
    display: flex;
    flex-direction: row;
}
.sous-bloc1-A4{
    background-color: rgb(230, 121, 12); 
    padding: 60px;
    text-align: center;
    width: 100%;
}
/**passage au container B**/
.container-B{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.blocB1-class{
    background-color: rgb(165, 95, 203);
    width: 30%;
    justify-content: center;
    display: flex;
    align-items: center;  
}

/**passage au sous bloc du bloc B2 **/
.blocB2-class{
    
    width: 70%;
}
.sous-bloc1-B1{
    background-color: rgb(108, 241, 194); 
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**passage au sous bloc du bloc B2**/
.sous-bloc1-B2{
    display: flex;
    flex-direction: row;
    height: 50%;
}
.sous-sous-bloc1-B2-1{
    background-color: rgb(241, 108, 206);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sous-sous-bloc1-B2-2{
    background-color: rgb(241, 108, 157);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}